<footer class="footer" id="footer">
    <div class="foot">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright</p>
    </div>
  </footer>
  </body>
  </html>
